# Repository - Configurazione

/config/
/lib/
/log/
/silverstripe-cache/
/themes/simple/
/themes/stack/js/**/*
!/themes/stack/js/dist/
!/themes/stack/js/lib/
/themes/stack/sass/
/themes/stack/_.browserlistrc
!/themes/stack/.gitignore
/themes/stack/.*
/themes/stack/config.rb
/themes/stack/gulpfile.js
/themes/stack/*.json
/themes/stack/package-lock.json
/themes/stack/postcss.config.js
/themes/stack/webpack.*.js
/vendor/
/.editorconfig
/Capfile
/Gemfile
/Gemfile.lock
composer.lock
node_modules/
.DS_Store
._*
!.env
!.gitignore
!.htaccess
.*
