// SASS Start
// Error
.error {

  @include justify-content(center);

  height: auto;
  min-height: 100vh;

  &,
  &#{__container} {

    @include display-flex;
    @include flex-direction(column);

    align-items: center;
  }

  .container__article {

    @extend %center;

    .article__body,
    p {

      /* @extend %font-light; */

      //color: $blu;
      /* font-size: $font-size-footer;
      line-height: $interlinea-footer; */
      margin: 0;
      padding: 0 16px;

      @media ($media-tablet) {
        /* font-size: $font-size-menu;
        line-height: $font-size-body-3; */
      }

      @media ($media-desktop) {
        /* font-size: $font-size-body;
        line-height: $font-size-titolo-1; */
        padding: 0;
      }
    }

    .article__logo {

      @extend %background;

      background-image: url('/themes/stack/img/logo.svg');
      height: auto;
      margin: 0 auto 2em;
      padding: 0 0 3.5em;
      width: 223px;

      @media ($media-desktop) {
        padding: 0 0 3em;
      }
    }
  }
}

// SASS End
