// SASS Start
/* Browser Hacks Start */
/* Internet Explorer */
@media all and (-ms-high-contrast: none) {
  /* IE11 */
  // Errore
  *::-ms-backdrop,
  .error {

    &,
    &#{__container} {
      align-content: center;
    }

    &#{__container} {
      padding: 13em 0 0;
    }
  }
  /* Footer */
  *::-ms-backdrop,
  .footer {
    flex-shrink: 0;
  }

  /* IE10 */
  /* Footer */
  .footer {
    flex-shrink: 0;
  }
}
/* Browser Hacks End */
// SASS End
