// Inizio SCSS
.summary {

  @include display-flex;
  @include flex-direction(column);

  align-items: center;
  padding: 4em 0;

  &#{__container} {

    @extend %maximum;
    @include flex(1);

    margin: 0 auto;
    width: 100%;

    .container__article {
      margin: 0 0 2em;

      &:last-child {
        margin: 0;
      }

      .article__body,
      .article__list,
      .article__title,
      .article__subtitle {
        /* color: $blu; */
        margin: 0 0 2em;
      }

      .article__body,
      .article__list {

        /* @extend %font-light; */

        /* font-size: $font-size-body-2;
        line-height: $interlinea-body; */

        .list__link,
        .element__link {

          /* @extend %font-bold; */

          /* color: $blu-1; */
          transition: all .3s ease-in-out;

          &:hover {
            opacity: .7;
          }
        }
      }

      .article__title,
      .article__subtitle {

       /*  @extend %font-bold;

        font-size: $font-size-cta; */
      }

      .article__list {
        padding: 0 0 0 32px;

        .list__element,
        ul li {
          list-style: square;
        }

        ul {
          padding: 0 0 0 64px;
        }
      }
    }
  }
}
// Fine SCSS
